/**
  name:默认样式入口文件，将编译为style.css
  intro: 主题文件，使用默认样式
  date:2018-08-20
**/
/**
  name:主题文件
  intro: 在此调用其他组件文件
  date:2018-08-20
**/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
table,
td,
tr,
th {
  font-weight: normal;
  font-size: 14px;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  text-decoration: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
em,
i,
cite {
  font-style: normal;
}
/*
  intro:字体图标库信息
  date:2018-08-17
*/
@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome, firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
/**
  name:初始化layui框架
  date:2018-08-20
**/
/*
  intro: 公用特性样式
  date:2018-08-17
*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.layui-form-select dl dd.layui-this {
  background-color: #3385bf;
}
.layui-form-select dl dd,
.layui-form-select dl dt {
  line-height: 30px;
}
.layui-table td,
.layui-table th,
.layui-table-fixed-r,
.layui-table-header,
.layui-table-page,
.layui-table-tips-main,
.layui-table-tool,
.layui-table-view,
.layui-table[lay-skin=line],
.layui-table[lay-skin=row] {
  border-color: #e6e6e6;
}
.layui-table td,
.layui-table th {
  font-size: 14px;
  padding: 8px;
  text-align: center;
  word-break: break-all;
}
.layui-table td {
  color: #333;
}
.layui-table th {
  color: #4c4c4c;
  background-color: #f0faff;
}
.layui-table,
.layui-table-view {
  margin: 14px 0;
}
.page .layui-laypage {
  margin: 0;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #3385bf;
}
.layui-laypage a:hover {
  color: #3385bf;
}
.layui-laypage a,
.layui-laypage span {
  line-height: 26px;
  height: 26px;
  padding: 0 12px;
}
.layui-laypage button,
.layui-laypage input {
  line-height: 28px;
  height: 28px;
}
.layui-laypage-prev .iconfont,
.layui-laypage-next .iconfont {
  font-size: 14px;
}
.layui-form-radio > i {
  font-size: 18px;
}
.layui-form-radio > i:hover,
.layui-form-radioed > i {
  color: #3385bf;
}
.layui-layer .layui-layer-btn {
  text-align: center;
  background-color: #f8f8f8;
}
.layui-layer .layui-layer-btn .layui-layer-btn0 {
  background-color: #3385bf;
  border-color: #3385bf;
  color: #fff;
}
.layui-layer .layui-layer-btn a {
  line-height: 26px;
  border-color: #3385bf;
  color: #3385bf;
  border-radius: 4px;
  min-width: 66px;
  box-sizing: border-box;
  background-color: transparent;
}
.layui-laydate-content #layui-laydate1 .layui-this {
  background-color: #3385bf !important;
}
.layui-table-page {
  text-align: right;
}
.layui-table,
.layui-table-view {
  margin: 0 0 20px 0;
}
.layui-form-checked[lay-skin=primary] i {
  background-color: #3385bf;
  border-color: #3385bf;
}
.layui-tab {
  margin-top: 0;
  margin-bottom: 20px;
}
.layui-tab-content {
  margin-top: -1px;
  padding: 14px;
  border: 1px solid #e6e6e6;
}
.layui-tab-content .page {
  padding-bottom: 0;
}
.layui-tab-title .layui-this {
  color: #3385bf;
}
.layui-tab-title li {
  font-size: 12px;
}
.layui-tab-title li.layui-this:before {
  background-color: transparent;
}
.layui-tab-title li:before {
  content: '';
  position: absolute;
  right: -1px;
  top: 50%;
  display: block;
  height: 16px;
  width: 1px;
  background-color: #e6e6e6;
  margin-top: -8px;
}
.layui-form-checkbox[lay-skin=primary]:hover i {
  border-color: #3385bf;
}
.layui-form-checked span,
.layui-form-checked:hover span {
  background-color: #3385bf;
}
.layui-form-onswitch {
  background-color: #3385bf;
  border-color: #3385bf;
}
.layui-form-checked i,
.layui-form-checked:hover i {
  color: #3385bf;
}
.layui-btn {
  background-color: #3385bf;
}
.layui-btn-primary {
  background-color: #fff;
}
.wrapper {
  padding: 20px;
  font-size: 14px;
}
